<form
	method="POST";
	action="/login/";
>
	<h1>{{wrongData}}</h1>
	<label>User Name</label>
	<input type="text" name="username" required></input>
	<label>Password</label>
	<input type="password" name="pwd" required>
	<button type="submit">Login</button>
</form>